<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: #00000022; /* dark background */
        }
        .container {
            max-width: 400px; 
            margin: 50px auto; 
            padding: 20px;
            background: #fff; 
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
            border-radius: 5px; 
        }
        .form-label {
            margin-bottom: .5rem; 
        }
        .form-control {
            margin-bottom: 1.5rem; 
            height: 38px;
        }
        .error-message {
            color: #dc3545; /* bootstrap 'danger' color for errors */
        }
    </style>
</head>
<body>
    <%- include('partials/_header') %>
    <div class="container">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <% if (typeof error !== 'undefined') { %>
                <p class="error-message"><%= error %></p>
            <% } %>
        </form>
    </div>
</body>
</html>